<h1>Profiles#show</h1>
<p>Find me in app/views/profiles/show.html.erb</p>
<div class="profile-wrapper">
<div class="profile-card">
<img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
<h1><%= @user.first_name + " " + @user.last_name%></h1>
<h2><%= @profile.current_title + " " + @profile.current_employer %></h2>
<p><%= @profile.description %></p>
</div>
</div>
