<h1><%= @forum.name %></h1>

<ul>
  <% @posts.each do |post| %>
  <h4>Post: <%= post.subject %></h4>
  <h5>Post Content: <%= post.content %></h5>
  <h5>Replies:</h5>
  <ul>
    <% post.replies.each do |reply| %>
    <li><%= reply.content %></li>
    <% end %>
  </ul>
  <% end %>
</ul>
