<div class="post-card d-flex" style="width: 600px;">
  <div class="post-info-card d-flex">
    <div>
      <div class="d-flex">
        <%= cl_image_tag post.user.photo, class: "avatar" %>
      </div>
      <div>
        <%= post.user.first_name %>
      </div>
    </div>
    <div>
      <%= link_to post.subject, forum_post_path(post.forum.id, post) %>
    </div>
  </div>
</div>
