<div class="card-mentor">
  <h4>Your Mentor</h5>
  <img class="avatar-dashboard mb-2" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
  <div>
    <h6 class="font-weight-bold my-0">Alberta Lowe</h6>
    <h6 class="my-0">CEO at Google, Inc.</h6>
    <h6 class="mt-0 mb-2">San Francisco, USA</h6>
  </div>
  <a class="btn btn-ghost-small mt-2 mb-1" href="#">View Profile</a>
  <a class="btn btn-ghost-small mb-2 mt-1" href="#">End Mentorship</a>
</div>
