<div class="greeting-card d-flex">
  <img class="greeting-image" src="<%= asset_path('profile.svg') %>">
  <div class="greeting-info-card">
    <h2>Complete your profile</h2>
    <p>Your profile is 75% complete. When your profile is more complete, we can give you better matchings! </p>
    <div>
      <a class="btn btn-solid-small " href="#">My profile</a>
    </div>
  </div>

</div>
