<div class="card-mentor">
  <h4>Your Mentor</h4>
  <div class="d-flex my-2">
    <img src="https://media.licdn.com/dms/image/C4D03AQF9b8nVFkWFKA/profile-displayphoto-shrink_800_800/0?e=1569456000&v=beta&t=_rJSaxYuNgL5s3NfX1BjvbRmKfVeblL1uj0vnBosz1Q" />
    <div class="ml-2">
      <h6 class="font-weight-bold my-0">Deborah Choi</h6>
      <h6 class="my-0">CEO at Google, Inc.</h6>
      <h6 class="mt-0">San Francisco, USA</h6>
    </div>
  </div>
  <div class="card-link-wrapper">
    <%= link_to "View Profile", profile_path(profile.user.mentor_profile), class: "btn btn-ghost-small mt-2 mb-1" %>
  </div>
  <div class="card-link-wrapper">
    <%= link_to "End Mentorship", root_path, class: "btn btn-ghost-small mt-2 mb-1"%>
  </div>
</div>


