<div class="greeting-card d-flex">
  <img class="greeting-image" src="<%= asset_path('profile.svg') %>">
  <div class="greeting-info-card">
    <h2>Complete your profile</h2>
      <p>When your profile is more complete, we can provide you with better matches! </p>
    <div>
      <%= link_to "My profile", profile_path(profile), class: "btn btn-solid small" %>
    </div>
  </div>

</div>
