<div class="post-card d-flex">
  <div class="post-info-card d-flex">
    <div class="d-flex-wrap">
      <%= cl_image_tag post.user.photo, class: "avatar" %>
      <%= post.user.first_name %>
    </div>
    <div>
      <%= link_to post.subject, forum_post_path(post.forum.id, post) %>
    </div>
  </div>
</div>
