<% @question.answer_options.each do |option| %>
  <ul>
    <li><%= option.content %></li>
  </ul>
  <ul>
    <li><%= option.content %></li>
  </ul>
<% end %>

<form action="user_answers" method="post">
  <input type="text">

  <input type="submit">
</form>


