<div class="mentor-card-container large">
  <div class="mentor-card">
    <img src="https://media.wired.com/photos/592659ec8d4ebc5ab8069f4d/master/w_1600,c_limit/OptionBTA-1.jpg">
    <h6>Sheryl Sandberg</h6>
    <p>CEO at Google.Inc</p>
    <p>San Francisco, CA</p>
  </div>
  <div class="mentor-tagline">
    <p>"We help women come together to learn from each other and achieve their goals, because women can be a powerful force for change in the world."</p>
  </div>
  <div class="match-button">
    <%= link_to "View Profile", root_path, class: "btn-ghost small"%>
    <%= link_to "Match with her", root_path, class: "btn-solid small"%>
  </div>
</div>
