<div class="card-post">
  <div class="user">
    <img src="https://media.licdn.com/dms/image/C4E03AQFGluTfOTVoEA/profile-displayphoto-shrink_200_200/0?e=1570060800&v=beta&t=Wunp4KH7BqiNwqSy2JY5YDNW_7XVHAf0HpKfUmk82LA" alt="" class="avatar">
    <p>User name</p>
  </div>
  <div class="post-title">
    <h6 class="d-flex align-items-center">This is the post title</h6>
  </div>
  <div class="post-number">
    <h4>5</h4>
  </div>
  <div class="post-date">
    <h4>21 July 2019</h4>
  </div>
</div>
