<div class="greeting-card d-flex">
  <img class="greeting-image" src="https://gust.com/marketing_assets/founders/illustrations/illustration-06-9f17801aef3ee33f2c68a2cbc722865bd8dddac0cb357b356f89a585dad783c0.png">
  <div class="greeting-info-card">
    <h2>Complete your profile</h2>
    <p>Your profile is 75% complete. When your profile is more complete, we can give you better matchings! </p>
    <div style="text-align: right">
      <a class="btn btn-solid-small " href="#">My profile</a>
    </div>
  </div>

</div>
