<ul style="list-style-type: none;">
  <h6 class="p-3"><%= link_to "Categories", forums_path %></h6>
  <% forums.each do |forum| %>
  <p><%= link_to forum.name, forum_path(forum), class: "nav-link" %></p>
  <% end %>
</ul>
