// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
// $yellow: #FFC65A;
$orange: #E67E22;
// $green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$black: #262627;
$cream: rgb(245, 241, 234);
$yellow: rgb(236, 210, 148);
$green: rgb(196, 236, 203);
$pink: #F4DBD8;

// yellow #ECD294
// cream #F5F1EA
// green #C4ECCB
// black rgb(39, 39, 40)
