// Specific CSS for your home-page
.container-big {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-one {
  display: flex;
  width: 100%;
  height: 90vh;
}

.big-yellow-square {
  background-color: $yellow;
  width: 50%;
  height: 75vh;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.landing-image img {
  width: 720;
  height: 560px;
  // position: absolute;
  margin-top: 50px;
  margin-right: 73px;
  // top: 67px;
  object-fit: cover;
}

.cta {
  // width: 400px;
  height: 600px;
  left: 158px;
  top: 160px;
  margin: auto;
  padding: 0 6em;
}

.cta h1 {
  margin-bottom: 20px;
}

.cta h6 {
  margin-bottom: 30px;
  line-height: 1.6em;
}

.landing-buttons p {
  margin-right: 15px;
}

.header {
  width: 100%;
  background-color: transparent;
  height: 200px;
}

.header h2 {
  font-weight: 100;
  margin: 0, auto;
}

.section-two {
  background-color: white;
  padding: 0 5em;
  width: 100%;
}

.section-two-text {
  width: 40%;
}

.section-two-images-and-text {
  display: flex;
  justify-content: space-around;
  margin: 0, auto;
  width: 100%;
}

.image-collage {
  position: relative;
  height: 35em;
  width: 60%;
}

.image-1 img {
  position: absolute;
  top: 20em;
  z-index: 3;
  width: 260px;
  height: 228px;
}

.image-2 img {
  position: absolute;
  top: 10em;
  left: 15em;
  z-index: 2;
  width: 355px;
  height: 302px;
}

.image-3 img {
  width: 302px;
  height: 302px;
}

.section-three {
  width: 100%;
  background-color: $yellow;
  display: flex;
  flex-direction: column;
}

.header-three {
  width: 100%;
  background-color: transparent;
  margin: 0, auto;
}

.header-three h2 {
  font-weight: 100;
  text-align: center;
  margin-top: 50px;
}

.header-paragraph-three {
  width: 40%;
  margin: 0 auto;
}

.header-paragraph-three p {
  text-align: center;
  line-height: 1.2em;
  font-size: 16px;
  margin-top: 16px;
}

.how-ellevate-works-info {
  width: 90%;
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.icon-and-info {
  width: 288px;
  height: 213px;
  h6 {
    text-align: center;
    font-weight: 500;
    margin-top: 19px;
    margin-bottom: 16px;
  }
  p {
    text-align: center;
  }
  text-align: center;
}

.icon-and-info img {
  width: 72px;
  height: 72px;
}

.how-ellevate-works-video-and-steps {
  width: 80%;
  margin: 0 auto;
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}

.ellevate-steps {
  background-color: white;
  h5 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 40px;
    padding-left: 30px;
    padding-top: 30px;
    margin-bottom: 50px;
  }
}

.all-steps {
  display: flex;
  flex-direction: column;
}

.card-step {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.step-number {
  width: 28%;
  p {
    font-family: 'Cookie', cursive;
    font-size: 42px;
    margin: 0;
    padding-left: 30px;
  }
}

.step-text {
  width: 67%;
  h4 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 26px;
    padding-top: 13px;
  }
}

.steps-button {
  margin: 0 auto;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
}




// .ellevate-steps p {
//   font-family: 'Cookie', cursive;
//   font-size: 42px;
//   padding-left: 30px;
//   padding-top: 30px;
//   margin-bottom: 50px;
// }

