// Specific CSS for your home-page
.container-big {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-one {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.big-yellow-square {
  background-color: $yellow;
  width: 50%;
  height: 75vh;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.landing-image img {
  width: 720;
  height: 560px;
  // position: absolute;
  margin-top: 50px;
  margin-right: 73px;
  // top: 67px;
  object-fit: cover;
}

.cta {
  // width: 400px;
  height: 600px;
  left: 158px;
  top: 160px;
  margin: auto;
  padding: 0 6em;
  padding-top: 110px;
}

.cta h1 {
  margin-bottom: 20px;
}

.cta h6 {
  margin-bottom: 30px;
  line-height: 1.6em;
}

.landing-buttons p {
  margin-right: 15px;
}

.header {
  width: 100%;
  background-color: transparent;
  height: 200px;
}

.header h2 {
  font-weight: 100;
  margin: 0, auto;
}

.section-two {
  background-color: white;
  padding: 0 5em;
  width: 100%;
  height: 100vh;
}

.section-two-text {
  width: 50%;
  h6 {
    font-size: 28px;
  }
  p {
    font-size: 20px;
  }
}

.section-two-images-and-text {
  display: flex;
  justify-content: space-around;
  margin: 0, auto;
  width: 100%;
}

.image-collage {
  position: relative;
  height: 35em;
  width: 60%;
}

.image-container {

}

.image-1 img {
  position: absolute;
  width: 500px;
  height: 400px;
  object-fit: cover;
  left: 100px;
}

.image-2 img {
  position: absolute;
  top: 5em;
  left: 15em;
  z-index: 3;
  width: 355px;
  height: 302px;
  object-fit: cover;
}

.image-3 img {
  width: 250px;
  height: 200px;
  object-fit: cover;
}

.image-4 img {
  width: 300px;
  height: 400px;
  object-fit: cover;
}



.section-three {
  width: 100%;
  background-color: $yellow;
  display: flex;
  flex-direction: column;
}

.header-three {
  width: 100%;
  background-color: transparent;
  margin: 0, auto;
}

.header-three h2 {
  font-weight: 100;
  text-align: center;
  margin-top: 70px;
}

.header-paragraph-three {
  width: 40%;
  margin: 0 auto;
}

.header-paragraph-three p {
  text-align: center;
  line-height: 1.2em;
  font-size: 16px;
  margin-top: 16px;
}

.how-ellevate-works-info {
  width: 90%;
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.icon-and-info {
  width: 288px;
  height: 213px;
  h6 {
    text-align: center;
    font-weight: 500;
    margin-top: 19px;
    margin-bottom: 16px;
  }
  p {
    text-align: center;
  }
  text-align: center;
}

.icon-and-info img {
  width: 72px;
  height: 72px;
}

.how-ellevate-works-video-and-steps {
  width: 80%;
  margin: 0 auto;
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}

.ellevate-steps {
  background-color: white;
  h5 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 40px;
    padding-left: 30px;
    padding-top: 30px;
    margin-bottom: 50px;
  }
}

.all-steps {
  display: flex;
  flex-direction: column;
}

.card-step {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.step-number {
  width: 28%;
  p {
    font-family: 'Cookie', cursive;
    font-size: 42px;
    margin: 0;
    padding-left: 30px;
  }
}

.step-text {
  width: 67%;
  h4 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 26px;
    padding-top: 13px;
  }
}

.steps-button {
  margin: 0 auto;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

.section-four {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.header-four {
  width: 100%;
  background-color: transparent;
  margin: 0, auto;
}

.header-four h2 {
  font-weight: 100;
  text-align: center;
  margin-top: 70px;
}

.mentors {
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 60px;
  padding-bottom: 50px;
}

.mentor-card-with-button {
  display: flex;
  flex-direction: column;
}

.mentor-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 300px;
  h6 {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
  }
  p {
    text-align: center;
    font-size: 15px;
    margin: 0;
  }
}

.mentor-button {
  margin: 0 auto;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

.section-five {
  width: 100%;
  background-color: $cream;
  display: flex;
  flex-direction: column;
}

.header-five {
  width: 100%;
  background-color: transparent;
  margin: 0, auto;
}

.header-five h2 {
  font-weight: 100;
  text-align: center;
  margin-top: 70px;
}

.community {
  width: 90%;
  margin: 0 auto;
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 60px;
  padding-bottom: 50px;
}

.community-card {
  background-size: cover;
  background-position: center;
  width: 350px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 36px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.comm-card-button {
  margin: 0 auto;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
}

.section-six {
  width: 100%;
  background-color: $yellow;
}
.section-six-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 400px;
  margin: 0 auto;
  justify-content: space-around;
  background-color: transparent;
  h6 {
    font-size: 36px;
    font-weight: 400;
    margin-top: 40px;
    color: $black;
  }
}

.paragraph-margin {
  margin-bottom: 200px;
  margin-left: 12px;
}

.image-shadow {
  box-shadow: 5px 10px red;
}

.big-cont-wrapper {
    display:flex;
    align-items:center;
    justify-content: space-around;
    width: 100%;

}
.shadow-and-width {
  width:750px;
  box-shadow: 1px 1px 5px grey;
  border-radius: 21px;
  margin-top: 65px;
   margin-bottom: 65px;

}

// .section-six-background {
//   background-size: cover;
//   background-position: center;
//   width: 100%;
//   height: 400px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   color: white;
//   font-size: 36px;
//   font-weight: bold;
//   text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
//   border-radius: 5px;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
// }





// .ellevate-steps p {
//   font-family: 'Cookie', cursive;
//   font-size: 42px;
//   padding-left: 30px;
//   padding-top: 30px;
//   margin-bottom: 50px;
// }

