// Specific CSS for your home-page
.container-big {
  width: 100%;
  position: relative;
  margin: 0 auto;
  margin-top: 0;
}

.section-one {
  width: 100%;
  height: 100vh;
}

.big-yellow-square {
  background-color: $yellow;
  width: 50%;
  height: 75vh;
  position: absolute;
  right: 0;
  top: 0;
}

.landing-image img {
  width: 720;
  height: 560px;
  position: absolute;
  right: 83px;
  top: 67px;
  object-fit: cover;
}

.cta {
  width: 400px;
  height: 600px;
  position: absolute;
  left: 158px;
  top: 160px;
}

.cta h1 {
  margin-bottom: 20px;
}

.cta h6 {
  margin-bottom: 30px;
  line-height: 1.6em;
}

.landing-buttons p {
  margin-right: 15px;
}

.header {
  width: 100%;
  background-color: white;
  height: 200px;
}

.header h2 {
  font-weight: 100;
  margin: 0, auto;
}

.section-two {
  background-color: white;
}

.section-two-images-and-text {
  display: flex;
  justify-content: space-around;
  margin: 0, auto;
}

.image-collage {
  position: relative;
}

.image-1 img {
  position: absolute;
  width: 228px;
  height: 228px;
}

.image-2 img {
  position: absolute;
  width: 355px;
  height: 302px;
}

.image-3 img {
  position: absolute;
  width: 302px;
  height: 302px;
}





