.matches-text{
  margin-bottom: 25px;
  margin-top: 20px;
  border-bottom: 1px solid #262627;
  display: flex;
  flex-direction: column;
  h4 {
    font-size: 32px;
    font-color: black;
  }
  p {
    font-size: 18px;
  }
}

.mentor-card-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  transition: box-shadow 0.3s ease-in-out 0s;
  min-height: 490px;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px;
    text-decoration: none;
  }
  .mentor-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &.large{
    min-height: 530px;
  }
  img {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
  }
  h6{
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
    color: black;
  }
  p{
    text-align: center;
    font-size: 14px;
    margin: 0;
    color: #575656;
  }
  .mentor-tagline {
    margin-top: 10px;
    margin-bottom: 10px;
    flex-grow: 1;
  }
  a:hover{
    text-decoration: none;
  }
}

.match-button {
  text-align: center;
  margin-top: 5px;
  a{
    display: block;
    margin-bottom: 10px;
  }
}
