.matches-text{
  margin-bottom: 25px;
  margin-top: 20px;
  border-bottom: 1px solid #262627;
  display: flex;
  flex-direction: column;
  h4 {
    font-size: 32px;
    font-color: black;
  }
  p {
    font-size: 18px;
  }
}

.mentor-card-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  transition: box-shadow 0.3s ease-in-out 0s;
  min-height: 490px;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px;
    text-decoration: none;
  }
  .mentor-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &.large{
    min-height: 620px;
  }
  img {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
  }
  h6{
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
    color: black;
  }
  p{
    text-align: center;
    font-size: 14px;
    margin: 0;
    color: #575656;
  }
  .mentor-tagline {
    margin-top: 10px;
    margin-bottom: 10px;
    flex-grow: 1;
    height: 95px;
  }
  a:hover{
    text-decoration: none;
  }
}

.mentor-rank {
  width: 100%;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

.mentor-rank span {
  font-family: 'Cookie', cursive;
  font-size: 24px;
  margin-top: 10px;
  color: $black;
}

.mentor-rank p {
  color: $black;
  font-family: 'Cookie', cursive;
  font-size: 46px;
  text-align: right;
  margin-right: 25px;
}

// #2CA58D

.match-button {
  text-align: center;
  margin-top: 5px;
  a{
    display: block;
    margin-bottom: 10px;
  }
  .btn-ghost {
    display: block;
    margin-bottom: 10px;
    width: 100%;
  }
    .btn-solid {
    display: block;
    margin-bottom: 10px;
    width: 100%;
  }
}

.modal-background {
  background-color: #F5F1EA;
  .small-container {
    width: 800px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .profile-wrapper {
    display: -webkit-box;
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-top: 20px;
    background-color: white;
    padding: 25px;
    box-shadow: 2px 2px 4px grey;
    flex-grow: 1;
    margin-left: 0;
    width: 100%;
    h1 {
    font-size: 40px;
    }
    h3 {
      font-size: 20px;
    }
    p {
      font-size: 14px;
    }
  }
}

.modal-header {
  background-color: #F5F1EA;
  border-bottom: none;
}
.modal-footer {
  background-color: #F5F1EA;
  border-bottom: none;
}

.percent-match {
  border: 1px solid #2CA58D;
  background-color: #2CA58D;
  color: white;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 18px;
}

.percent-match p {
  color: white;
  font-size: 19px;
  background-color: #2CA58D;
  text-align: center;
}

