.questions-show {
  width: 100%;
  height: 120vh;
  margin: 0 auto;
}

.question-card {
  background-color: $cream;
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
  margin-top: 100px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px;
  text-decoration: none;
  transition: box-shadow 0.3s ease-in-out 0s;
  min-height: 360px;
  // align-items: center;
  h5 {
    text-align: center;
    font-size: 22px;
    font-weight: 300;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 75%;
  }
}

.question-number {
  text-align: right;
  font-size: 24px;
  color: $black;
  font-weight: 500;
}



