<div class="container">

  <h1 class="pt-5" style="text-align: center;">Events</h1>

  <% content_for :meta_title, "Events | Ellevate" %>
  <div class="forum-searchbar">
    <%= render 'components/searchbar' %>
  </div>


</div>

