<div class="container-big">
  <div class="big-yellow-square">
  </div>
  <div class="landing-image">
    <img src="https://cdn.pixabay.com/photo/2016/03/23/04/01/beautiful-1274056_1280.jpg" alt="">
  </div>
  <div class="cta">
    <h1>Mentorship is the key to our success</h1>
    <h6 class="mt-50">We help women come together to learn from each other and achieve their goals, because women can be a powerful force for change in the world.</h6>
    <div class="landing-buttons">
      <%= link_to root_path do %>
        <p class="btn btn-solid ">Start Now</p>
      <% end %>
      <%= link_to root_path do %>
        <p class="btn btn-ghost pl-10">See mentors</p>
      <% end %>
    </div>
  </div>
</div>

