<div class="container-big">

  <div class="section-one">
    <div class="big-yellow-square"></div>
    <div class="cta">
      <h1>Mentorship is the key to our success</h1>
      <h6 class="mt-50">We help women come together to learn from each other and achieve their goals, because women can be a powerful force for change in the world.</h6>
      <div class="landing-buttons">
        <%= link_to root_path do %>
          <p class="btn btn-solid">Start Now</p>
        <% end %>
        <%= link_to root_path do %>
          <p class="btn btn-ghost">See mentors</p>
        <% end %>
      </div>
    </div>

    <div class="landing-image">
      <img src="https://images.unsplash.com/photo-1554200876-56c2f25224fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" alt="two women laughing" width=720>
    </div>
  </div>

  <div class="section-two">

    <div class="header d-flex align-items-center">
      <h2 class="text-align-center mx-auto">Why mentorship?</h2>
    </div>

    <div class="section-two-images-and-text d-flex justify-space-around align-items-center">

      <div class="image-collage">
        <h5>People</h5>
        <div class="image-1">
         <img src="https://images.unsplash.com/photo-1526658904499-9f2b473928f5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="photo of woman1">
        </div>

        <div class="image-2">
         <img src="https://images.unsplash.com/photo-1508214751196-bcfd4ca60f91?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="photo of woman2">
        </div>

        <div class="image-3">
          <img src="https://images.unsplash.com/photo-1477118476589-bff2c5c4cfbb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="photo of woman3">
        </div>
      </div>

      <div class="section-two-text">
        <p>When one of our members was struggling to find a job, for example, our Circle jumped in to help with interview prep and to make introductions.”</p>
      </div>

    </div>

  </div>

  <div class="section-three">

    <div class="header d-flex align-items-center">
      <h2 class="text-align-center mx-auto">How Ellevate Works</h2>
    </div>

    <div class="section-two-images-and-text d-flex justify-space-around align-items-center"></div>

      <div class="image-collage">
        <h5>People</h5>
      </div>

      <div class="section-two-text">
        <p>When one of our members was struggling to find a job, for example, our Circle jumped in to help with interview prep and to make introductions.”</p>
      </div>

    </div>

  </div>


</div>

<!-- https://cdn.pixabay.com/photo/2016/03/23/04/01/beautiful-1274056_1280.jpg -->

<%= link_to "Take survey Mentee", question_path(@question_mentee) %>
<%= link_to "Take survey Mentor", question_path(@question_mentor) %>

