<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1491438590914-bc09fcaaf77a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);">
  <div class="container-donation">
    <div class="col-6">
      <div class="donation-logo-wrapper">
        <div class="logo"></div>
        <h2 class="log-in-header">Ellevate</h2>
      </div>
      <div class="p-div donation-paragraph">
        <p class="log-in-p ">Find a mentor and change your life</p>
      </div>
      <div class="donation-form">
        <%= simple_form_for @donation do |f| %>
        <h2>Help us do more</h2>
        <p>We'll get right to the point: we're asking you to help support Ellevate. We're a nonprofit that relies on support from people like you. If everyone reading this gives $10 monthly, Ellevate can continue to thrive for years. Please help keep Ellevate free, for anyone, anywhere forever.</p>

        <h4>Your email address: </h4>
        <%= f.input :donor_email, class: "form-control mt-5", placeholder: 'name@mail.com', label: false %>
        <h4> Input your support amount: </h4>
        <span class="mb-2">$USD</span>
        <%= f.input :amount, class: "form-control", placeholder: '$20', label: false %>
        <%= f.button :submit, class: "btn btn-solid" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
