.forum-show-container {
  width: 1400px;
  margin-left: 50px;
  margin-right: 50px;
  a {
    color: black;
  }
}

.forum-show-form {
  background-color: black;
}

.forum-show {
  .dashboard-welcome {
    height: 200px;
    margin-bottom: 71px;
    background-color: #EAD094;
    border-radius: 3px;
    img {
      height: 120%;
      width: 80%;
      margin-bottom: 0px;
      position: absolute;
      top: -18px;
    }
    .content {
      padding-left: 10px;
      margin-top: 0px;
      align-items: center;
      display: flex;
    }
  }
}
