<div class="container-medium-small">
  <div class="row matches-text">
    <h1>Here are your matched mentors!</h1>
  </div>
  <div class="row justify-content-start">
    <% @matches.each do |match|  %>
      <div class="col-4 my-2">
        <%= render 'components/card-match', match: @match  %>
      </div>
    <% end %>
  </div>
</div>
