<% @matches.each do |m| %>
  <div style="height: 100px; width: 100px; background-color: white; border: 1px solid blue;">
      <%= m.mentor.first_name %>
    <%= simple_form_for(m) do |f| %>
      <%= f.input :mentor_id, as: :hidden, html_input: { value: m.mentor_id } %>
      <%= f.submit %>
    <% end %>
  </div>
<% end %>
