<% content_for :meta_title, "Matched Mentors | Ellevate" %>
<div class="container-medium-small">
  <div class="row matches-text">
    <h4>Congratulations, you have matched with <%= @matches.length %> amazing mentors! </h4>
    <p>We recommend reviewing each mentor's profiles before sending a request to one.</p>
  </div>
  <div class="row justify-content-start">
    <% @matches.each_with_index do |match, index| %>
      <div class="col-4 my-2">
        <%= render 'components/card-match', match: match, index: index %>
      </div>
    <% end %>
  </div>
</div>
