.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-dashboard {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-large {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  height: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.avatar-xl-gray {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  filter: grayscale(100%);
  transition: all 0.3s ease 0s;
  &:hover {
    filter: none;
  }
  margin-bottom: 10px;
}

.avatar-match {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 10px;
  object-fit: cover;
}

