.btn-solid {
    color: white;
    background-color: $black;
    line-height: 1;
    text-align: center;
    font-size: 17px;
    padding: 12px 16px;
    border-radius: 2px;
    border: 1px solid transparent;
    vertical-align: middle;
    cursor: pointer;
    transition: color .25s cubic-bezier(.35,.97,.57,.99),background-color .25s cubic-bezier(.35,.97,.57,.99);
    font-weight: 300;
    &:hover {
    color: white;
    background-color: rgba(39, 39, 40, 0.7);
    border: 1px solid $black;
    text-decoration: none;
    }
}

.btn-ghost {
  background-color: transparent;
  line-height: 1;
  text-align: center;
  font-size: 17px;
  padding: 12px 16px;
  border-radius: 2px;
  border: 1px solid $black;
  vertical-align: middle;
  cursor: pointer;
  transition: color .25s cubic-bezier(.35,.97,.57,.99),background-color .25s cubic-bezier(.35,.97,.57,.99);
  color: $black;
  font-weight: 300;
  &:hover {
  color: $black;
  background-color: transparent;
  border: 1px solid $black;
  text-decoration: none;
  }
  &.donation {
    display: block;
  }
}

.btn-ghost-solid {
  background-color: transparent;
  line-height: 1;
  text-align: center;
  font-size: 17px;
  padding: 12px 16px;
  border-radius: 2px;
  border: 1px solid $black;
  vertical-align: middle;
  cursor: pointer;
  transition: color .25s cubic-bezier(.35,.97,.57,.99),background-color .25s cubic-bezier(.35,.97,.57,.99);
  color: $black;
  font-weight: 300;
  &:hover {
  color: white;
  background-color: $black;
  border: 1px solid $black;
  text-decoration: none;
  }
}

.small {
  font-size: 14px;
  padding: 10px 16px;
}

.btn-solid-small {
    background-color: #dd3b33;
    line-height: 1;
    text-align: center;
    font-size: 12px;
    padding: 8px 12px;
    min-width: 115px;
    max-width: 115px;
    border-radius: 1px;
    border: 1px solid transparent;
    vertical-align: middle;
    cursor: pointer;
    transition: color .25s cubic-bezier(.35,.97,.57,.99),background-color .25s cubic-bezier(.35,.97,.57,.99);
    color: #fff;
    &:hover {
    color: #dd3b33;
    background-color: transparent;
    border: 1px solid #dd3b33;
    text-decoration: none;
    }
}

.btn-ghost-small {
  background-color: white;
  line-height: 1;
  text-align: center;
  font-size: 12px;
  padding: 8px 12px;
  border-radius: 1px;
  border: 1px solid #dd3b33;
  vertical-align: middle;
  cursor: pointer;
  transition: color .25s cubic-bezier(.35,.97,.57,.99),background-color .25s cubic-bezier(.35,.97,.57,.99);
  color: #dd3b33;
  &:hover {
  color: white;
  background-color: #dd3b33;
  border: 1px solid #dd3b33;
  text-decoration: none;
  }
}
