.reply-card {
  padding: 20px;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 0 3px rgba(0,0,0,0.1);
  margin-bottom: 10px;
}

.reply-info-card {
  width: 100%;
  flex-grow: 1;
  margin-left: 0;
  text-align: left;
  position: relative;
  font-size: 13px;
  h2{
    margin: 0;
    margin-bottom: 2px;
    font-size: 25px;
  }
  p {
    margin: 0;
    margin-bottom: 2px;
    font-size: 14px;
  }
  div {
    text-align: right;
    margin-right: 20px;
  }
  .avatar {
    object-fit: cover;
  }
}

