.greeting-card {
  padding: 20px;
  width: 562px;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 0 3px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}

.greeting-image {
  width: 160px;
  flex-grow: 0;
}

.greeting-info-card {
  width: 400px;
  flex-grow: 1;
  margin-left: 15px;
  text-align: left;
  h2{
    margin: 0;
    margin-bottom: 2px;
    font-size: 25px;
  }
  p {
    margin: 0;
    margin-bottom: 2px;
    font-size: 14px;
  }
}
