.link-none {
  &:hover{
    text-decoration: none;
  }
}

.card-post {
  background-color: transparent;
  // box-shadow: 0 0 20px 0 rgba(46, 53, 57, 0.11);
  padding: 5px 15px;
  display: flex;
  flex-direction: row;
  /* margin-bottom: 20px; */
  margin-left: 20px;
  margin-right: 20px;
  transition: box-shadow 0.3s ease-in-out 0s;
  border-radius: 2px;
  justify-content: space-around;
  border-bottom: 1px solid gray;
  padding-top: 20px;
  align-items: center;
  color: black;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px;
  }

  .user {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 60px;
    p {
      font-size: 12px;
      margin-bottom: 5px;
    }
    .avatar {
      margin-bottom: 5px;
      object-fit: cover;
    }
  }
  .post-title {
    flex-grow: 1;
    width: 450px;
    h6 {
      font-size: 16px;
      margin-left: 15px;
    }
  }
  .post-number {
    flex-grow: 0;
    h4 {
    font-size: 16px;
    color: black;
    margin-left: 25px;
    margin-right: 35px;
    }
  }
  .post-date {
   flex-grow: 0;
    h4{
      font-size: 16px;
      color: black;
      margin-left: 25px;
      margin-right: 20px;
    }
  }
}

.table-header {
  @extend .card-post;
  .user {
    p {
    color: gray;
    font-size: 14px !important;
    margin-bottom: 8px;
    width: 55px;
    }
  }
  .post-title {
    h6 {
    color: gray;
    font-size: 14px !important;
    }
  }
  .post-number {
    h4 {
    color: gray;
    font-size: 14px !important;
    width: 50px;
    }
  }
  .post-date {
    h4 {
    color: gray;
    font-size: 14px !important;
    margin-right: 45px;
    }
  }
}

.disabled {
  pointer-events: none;
}

.side-bar {
  background-color: black;
  box-shadow: 0px 0px 15px 0px rgba(14,0,0,0.05);
  border-radius: 0.25rem;
  border: 1px solid #e5e5e5;
  color: rgba(255,255,255,0.5);
  padding: 15px 15px;
  height: 510px;
  position: sticky;
  top: 145px;
  p{
    margin-bottom: 0px !important;
    margin-top: 0px;
  }
  .nav-link {
    display: inline-block;
    box-sizing: border-box;
    color: rgba(255,255,255,0.5);
    padding: 0.6rem 1.25rem 0.6rem 1.875rem;
    font-size: 0.875rem;
    display: block;
    transition: all 0.2s;
    transition-delay: 0s;
    a {
      text-decoration: none;
    }
    &:hover {
      color: white;
      background: rgba(255,255,255,0.1);
    }
  }
}
