.card-mentor {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 3px rgba(0,0,0,0.1);
  padding: 22px;
  border-radius: 2px;
  .round {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }
  h4 {
    font-size: 20px;
    text-align: left;
    margin-bottom: 10px;
  }
  h6 {
    font-size: 14px;
    color: black;
  }
  a {
    display: block  }
  p {
    font-size: 12px;
    color: #131212;
    margin-bottom: 10px;
  }
  h5 {
    font-size: 14px;
    text-align: center;
    color: #131212;
    margin-bottom: 10px;
  }
}


.card-mentee {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: white;
  text-align: center;
  padding: 22px;
  border-radius: 2px;
  margin-bottom: 20px;
  .circle {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: transparent;
    border: dotted 2px black;
    position: relative;
    margin-bottom: 10px;
  }
  .round {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    position: absolute;
    right: 5px;
    bottom: 5px;
    object-fit: cover;
    object-position: center;
    crop: thumb;
  }
  h6{
    font-size: 16px;
    color: black;
  }
  p {
    font-size: 14px;
    color: gray;
  }
}
