.dashboard-card-content {
  flex-grow: 1;
  text-align: left;
  margin-right: 20px;
  position: relative;
}

.dashboard-card {
  padding: 20px;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 0 3px rgba(0,0,0,0.1);
  margin-bottom: 20px;
  img {
    height: 120px;
    width: 120px;
    object-fit: cover;
    flex-grow: 0;
  }
  h2{
    margin: 0;
    margin-bottom: 5px;
    font-size: 25px;
  }
  h4{
    font-size: 15px;
    margin-bottom: 0px;
  }
  p {
    margin: 0;
    margin-bottom: 2px;
    font-size: 14px;
  }
  a{
    position: absolute;
    left: 0;
    bottom:0;
  }
}

.transparent{
  background-color: transparent;
  box-shadow: none;
}

.card-link {
  text-decoration: none;
  color: black;
}

.card-link-wrapper a {
  color: black;
}
