.card-event {
  overflow: hidden;
  height: 200px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 50px;
}

.card-event > img {
  height: 100%;
  width: 200px;
  object-fit: cover;
}

.card-event {
  h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
  }
  h5 {
  font-size: 14px;
  margin: 0;
  margin-bottom: 10px;
  }
  p {
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 3px;
  margin-top: 3px;
  color: red;
  }
}

.event-info {
  margin-left: 10px;
  color: $black;
}

.event-host-info img {
  margin-right: 10px;
}

.card-event .event-info {
  padding: 20px;
}




