.dashboard-card-content {
  text-align: left;
  margin-right: 20px;
  position: relative;
  flex-grow: 1;
}

.dashboard-welcome {
  height: 250px;
  margin-bottom: 71px;
  background-color: #EAD094;
  border-radius: 3px;
  img {
    height: 123%;
    width: 110%;
    margin-bottom: -5px;
    position: absolute;
    top: -32px;
  }
  .content {
    padding-left: 20px;
    margin-top: 50px;
  }
  h2 {
    font-size: 50px;
    margin-bottom: 20px;
  }
  h4 {
    font-size: 20px;
  }
}

.dashboard-card {
  padding: 20px;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 0 3px rgba(0,0,0,0.1);
  margin-bottom: 20px;
  img {
    height: 120px;
    width: 120px;
    object-fit: cover;
    flex-grow: 0;
  }
  h2{
    margin: 0;
    margin-bottom: 5px;
    font-size: 25px;
  }
  h4{
    font-size: 18px;
    margin-bottom: 12px;
  }
  p {
    margin: 0;
    margin-bottom: 0px;
    font-size: 14px;
  }
  a{
    position: absolute;
    left: 0;
    bottom:0;
  }
}

.transparent{
  background-color: transparent;
  box-shadow: none;
}

.card-link {
  text-decoration: none;
  color: black;
}

.card-link-wrapper a {
  color: black;
}
