[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.container-special-form {
  max-width: 640px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  margin: 0 auto;
}

#columns {
  list-style-type: none;
}

.column {
  width: 300px;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;
  cursor: move;
}

// .draggable-zone {
//   width: 300px;
//   margin: 5px;
// }

#draggable {
  color: rgb(82, 187, 190);
  background-color: rgba(82, 187, 190, 0.1);
  box-shadow: rgba(82, 187, 190, 0.8) 0px 0px 0px 2px inset;
  cursor: pointer;
  opacity: 1;
  height: auto;
  border-radius: 8px;
  animation: 0.25s ease 0s 2 normal none running qNIWx;
  margin-top: 6px;
}

.column.dragElem {
  opacity: 0.4;
}

#submit-special {
  background-color: transparent;
  line-height: 1;
  text-align: center;
  font-size: 20px;
  padding: 16px 20px;
  border-radius: 2px;
  border: 1px solid $black;
  vertical-align: middle;
  cursor: pointer;
  transition: color .25s cubic-bezier(.35,.97,.57,.99),background-color .25s cubic-bezier(.35,.97,.57,.99);
  color: $black;
  font-family: Roboto;
  font-weight: 300;
  &:hover {
  color: $black;
  border: 1px solid $black;
  text-decoration: none;
  }
  &:focus {
    outline: none;
    background-color: $black;
    color: white;
  }
}

// .column header {
//   height: 20px;
//   width: 150px;
//   color: black;
//   background-color: #ccc;
//   padding: 5px;
//   border-bottom: 1px solid #ddd;
//   border-radius: 10px;
//   border: 2px solid #666666;
// }

// #columns li {
//   background-color: $cream;
//   color: $black;
// }

// .over {
//   //border: 2px dashed #000;
//   box-shadow: 0 0 3px rgba(0,0,0,0.1);
//   border-radius: 4px;
//   background-color: red;
// }

// .active {
//   background: #fffad6;
//   border: 2px solid #aaa479;
// }

// border: 2px solid rgba(139, 139, 139, .3);
