.footer {
  background: $black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  margin-top: 40px;
}

.footer-links a {
  color: #818181;
}
.footer-links a:hover {
  color: white;
  //
  text-decoration: none;
}
.footer .fa-heart {
  color: #D23333;
}

.background-black {
  background-color: $black;
}

.contact-info i {
  color: #818181;
}

.footer-quote p {
 color: #818181;
}

.soc-media-icons {
  color: $green;
  font-size: 18px;
}

.footer-final-link p{
  color: $green;
}



