.navbar-ellevate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  margin-top: 40px;
}

.navbar-ellevate-white {
  background-color: white;
  margin-top: 15px;
}

.navbar-ellevate .navbar-collapse {
  flex-grow: 0;
}

// .navbar-ellevate img {
//   width: 50px;
//   height: 50px;
//   margin-left: 40px;
//   margin-right: 20px;
// }

.navbar-links a {
  text-decoration: none;
  color: $black;
  font-weight: 300;
  font-size: 16px;
}

.navbar-image-and-logo > p {
  font-size: 31px;
  padding: 0;
  align-items: center;
  margin: 0;
  font-weight: 400;
}

.sign-up-button {
  margin-right: 45px;
  margin-left: 3px;
}


// @media (min-width: 992px) {
//   .greeting-card {
//     flex-direction: column;
//     align-items: center;
//   }
// }

.icon-size {
font-size: 30px;
color: #5f5e5e;
}

.marg-123 {
  margin-bottom: 6px;
}

.move-right {
  left: -160px;
  width: 12em !important;
}


.burger-size {
font-size: 24px;
}

#avatar-size {
  width: 38px;
  height: 38px;
  margin-top: 10px;
  object-fit: cover;
}

.thin-line {
  height: 1px;
  width: 90px;
  background-color: #bfbfbf;
  margin-top: 20px;
  margin-bottom: 8px;

}

.font-size-dashboard {
  font-size:14px;
}
