// Graphical variables
@import "fonts/index";

@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "devise/index";
@import "payments/new";
@import "donation/new";
@import "pages/events/index";

// MAIN DESGIN

#view-wrapper {
  min-height: calc(100vh - 66px);
}

.sticky {
  height: 100vh;
  position: sticky;
  top: 96px;
}

h1 {
  font-weight: 100;
  font-size: 62px;
}

h2 {
  font-weight: 100;
  font-size: 52px;
  color: red;
}

h3 {
  font-weight: 300;
  font-size: 44px;
}

h4 {
  font-weight: 300;
  font-size: 36px;
}

h5 {
  font-weight: 100;
  font-size: 28px;
}

h6 {
  font-weight: 100;
  font-size: 18px;
}

p {
  font-weight: 100;
  font-size: 16px;
}
