// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "devise/index";


// MAIN DESGIN

#view-wrapper {
  min-height: calc(100vh - 66px);
}

.sticky {
  height: 90vh;
  position: sticky;
  top: 30px;
}

.body {

}
