
.form-wrapper {
  width: 300px;
  padding: 32px;
  border-radius: 3px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  min-height: calc(100vh - 66px)
}

.btn-black {
  background-color: black;
  box-shadow: 1px 1px 3px rgba(25,25,25,0.1);
  border-radius: 3px;
  color:white;
  font-size: 16px;
}

.log-in-header {
  margin-bottom: 35px;
  margin-left: 5px;

}

.log-in-p {
  text-align: center;
  color:black;
  font-weight: bold;
}

.form-label {
  font-color:red;
  font-weight: bold;

}

.form-input {
  background-color: white !important;
}

.logo {
  background-image: url(asset-path("logo_ellevatev1.jpg"));
  width: 50px;
  height: 50px;
  background-size: cover;
}

.logo-wrapper {
  display: flex;
}

.p-div {
  width: 200px;
}

.btn-linkdin {
  background-color: #0076B5;
  box-shadow: 1px 1px 3px rgba(25,25,25,0.1);
  border-radius: 3px;
  color:white;
  font-size: 16px;
}
